<!DOCTYPE html>
<html>
<head>
    <title>Simple Map ^^</title>
    <link rel="stylesheet" href="cs1.css">
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
</head>
<body>
<div id="map"></div>
<div id="chart"></div>

<script src="https://maps.googleapis.com/maps/api/js?
key=AIzaSyDRn7Pyp1Q3tgqBxXt3jiGWssL1WriauYs&libraries=visualization&callback=initMap" async defer>
</script>

<script type="text/javascript" src="js1.js"></script>
</body>
</html>




